#example {
    min-height: 840px;
}

#undo {
    text-align: center;
    position: absolute;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    padding: 2em;
    cursor: pointer;
}

.k-window {
    z-index: 100000;
}

@media screen and (max-width: 1023px) {
    div.k-window {
        display: none !important;
    }
}