@model ExaminerWebApp.Entities.Entities.EmailTemplate ;

@{
    ViewData["Title"] = "Edit Template";
    var serializedData = Json.Serialize(Model);
}
<div id="email-template-page">
    <script type="text/javascript">
        window.initialData = @Html.Raw(serializedData);
    </script>
    <div class="container-fluid card bg-light justify-content-center">
        <form id="emailTemplateForm">
            <div class="card-header d-inline-flex justify-content-start align-items-end">
                <h3><strong>Email Templates</strong></h3>
                <h6 class="mx-2">Provides abilty to manage Email Templates</h6>
            </div>
            <div class="card-body">
                <div id="errorBody" class="text-danger"></div>
                <div class="form-group required row">
                    <label for="name" class="col-form-label control-label col-sm-2">Name</label>
                    <div class="col-sm-10">
                        <input id="name" name="name" data-bind="kendoMaskedTextBox: { value: name }, css: { 'err': name.hasError }" />
                        <span class="text-danger"
                              data-bind="visible: name.hasError, text: name.validationMessage">
                        </span>
                    </div>
                </div>
                <div class="form-group required row">
                    <label for="description" class="col-form-label control-label col-sm-2">Description</label>
                    <div class="col-sm-10">
                        <textarea id="description"
                                  rows="3"
                                  name="description"
                                  data-bind="kendoMaskedTextBox: { value: description }, css: { 'err': description.hasError }">
                               </textarea>
                        <span class="text-danger"
                              data-bind="visible: description.hasError, text: description.validationMessage">
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-form-label col-sm-2">Template</label>
                    <div class="col-sm-10">
                        <textarea rows="3"
                                  id="description"
                                  name="description"
                                  data-bind="kendoEditor: { value: template }">
                        </textarea>
                    </div>
                </div>
                <div class="form-group row d-flex">
                    <label class="col-form-label col-sm-2">Default</label>
                    <div class="justify-content-start col-sm-10">
                        <input type="checkbox" id="isDefault"
                               data-bind="checked: isDefault, value: isDefault"
                               class="mx-1 k-checkbox k-checkbox-sm k-rounded-md"
                               name="isDefault">
                    </div>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <div class="mx-2">
                        <kendo-button name="submit-btn"
                                      data-bind="click: submitTemplate"
                                      theme-color="ThemeColor.Primary">
                            Save
                        </kendo-button>
                    </div>
                    <div class="mx-2">
                        <kendo-button name="back-btn"
                                      theme-color="ThemeColor.Secondary">
                            Back
                        </kendo-button>
                    </div>
                    <div class="mx-2">
                        <kendo-button name="delete-btn"
                                      data-bind="click: deleteTemplate, visible: hasId"
                                      theme-color="ThemeColor.Error">
                            Delete
                        </kendo-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="~/js/app/email-template.js"></script>
</div>