@{
    ViewData["Title"] = "Email Template";
    Layout = "_Layout";
}
<div id="email-template-grid" data-bind="with:model">
    <div class="card">
        <div class="card-header d-inline-flex justify-content-start align-items-end">
            <h3><strong>Email Templates</strong></h3>
            <h6 class="mx-2">Provides ability to manage Email Templates</h6>
        </div>
        <div class="card-body">
            <div id="grid"></div>
        </div>
    </div>
    <button id="refreshButton" type="button" hidden></button>
</div>

@section scripts {
    <script>
        var src = 'emailtemplategrid';  // Ensure this path is correct
        require(['require-config', src], function (s, EmailTemplateGrid) {
            var emailTemplateGrid = new EmailTemplateGrid();
            new emailTemplateGrid.init();
        });
    </script>
}