@{
    ViewData["Title"] = "Examiner List";
}

<div id="grid"></div>
<div id="displayModal"></div>
<button id="refreshButton" type="button" hidden></button>
<script src="~/js/examiner-kendo-grid/grid.js"></script>
