@{
    ViewData["Title"] = "Application Type Template";
}
<div class="d-flex row">
    <div class="col-6 form-group">
        <kendo-textbox name="searchBox"
                       required="required"
                       data-bind="value: search, valueUpdate: 'afterkeydown', attr: { 'aria-required': true }">
        </kendo-textbox>
    </div>
    <div class="col-6 form-group">
         <button class="btn btn-info" id="searchButton">Search</button>
         <button class="btn btn-info" id="clearButton">Clear</button>
    </div>
</div>

<div id="grid"></div>
<div id="window"></div>

<button id="refreshButton" type="button" hidden></button>

<script src="~/js/application-type-template/grid.js"></script>
<link rel="stylesheet" src="~/css/applicant-type-modal/style.css" />
