@model CreatePhaseModel
@{
    var serializedData = Json.Serialize(Model);
}

<script type="text/javascript">
    window.initialData = @Html.Raw(serializedData);
</script>
<div>
    <form id="phaseForm">
        <div id="errorBody" class="text-danger"></div>
        <div class="form-group">
            <label for="phasename">Name</label>
            <input id="phasename" name="phasename" data-bind="kendoMaskedTextBox: { value: phasename }" />
        </div>
        <div class="form-group">
            <label for="phasedescription">Description</label>
            <input id="phasedescription" name="phasedescription" data-bind="kendoMaskedTextBox: { value: phasedescription }" />
        </div>
        <kendo-button name="primaryTextButton"
                      data-bind="click: submitForm"
                      theme-color="ThemeColor.Primary">
            Save
        </kendo-button>
        <kendo-button name="cancelButton"
                      theme-color="ThemeColor.Secondary">
            Cancel
        </kendo-button>
    </form>
</div>

<script src="~/js/phase/modal.js"></script>
