@model CreatePhaseModel
@{
    var showGrid = ViewBag.ShowGrid ?? false;
    var serializedData = Json.Serialize(Model);
}

<script type="text/javascript">
    window.initialData = @Html.Raw(serializedData);
</script>

<div>
    <form id="phaseForm">
        <div id="errorBody" class="text-danger"></div>
        <div class="form-group">
            <label for="phasename">Name</label>
            <kendo-textbox name="phasename"
                           required="required"
                           data-bind="value: phasename, valueUpdate: 'afterkeydown', attr: { 'aria-required': true }">
            </kendo-textbox>
            <span class="text-danger" data-bind="visible: phasename.hasError, text: phasename.validationMessage"> </span>

        </div>
        <div class="form-group">
            <label for="phasedescription">Description</label>
            <kendo-textarea name="phasedescription"
                            required="required"
                            rows="3"
                            data-bind="value: phasedescription, valueUpdate: 'afterkeydown', attr: { 'aria-required': true }">
            </kendo-textarea>
        </div>
        <kendo-button name="primaryTextButton"
                      data-bind="click: submitForm"
                      theme-color="ThemeColor.Primary">
            Save
        </kendo-button>
        <kendo-button name="cancelButton"
                      theme-color="ThemeColor.Secondary">
            Cancel
        </kendo-button>
    </form>
    @if (showGrid)
    {
        <div id="stepGrid"></div>
        <div id="tooltipTemplate" style="display: none;">
            <textarea id="tooltipEditor"></textarea>
        </div>
        <script src="~/js/step/step.js"></script>
    }
</div>

<script src="~/js/phase/modal.js"></script>