@model AddStepModel
@{
    var serializedData = Json.Serialize(Model);
}

<script type="text/javascript">
    window.initialData = @Html.Raw(serializedData);
</script>
<div>
    <form id="addStep">
        <div id="errorBody" class="text-danger"></div>
        <div class="row">
            <div class="col-12 form-group">
                <label for="phasename">Phase</label>
                <kendo-dropdownlist id="steptypeid" name="steptype"
                                    dataTextField="name"
                                    dataValueField="id"
                                    option-label="Select phase"
                                    data-bind="value: steptypeid">
                    <datasource>
                        <transport>
                            <read url="/Step/StepTypeList" />
                        </transport>
                    </datasource>
                </kendo-dropdownlist>
            </div>
            <div class="col-12 form-group k-w-300">
                <kendo-numerictextbox name="phaseordinal"
                                      min="0"
                                      step="1"
                                      value="1"
                                      data-bind="value: phaseordinal">
                    <numerictextbox-label content="Ordinal" />
                </kendo-numerictextbox>
            </div>
        </div>
        <div id="ordinalGrid"></div>
        <kendo-button name="primaryTextButton"
                      data-bind="click: submitForm"
                      theme-color="ThemeColor.Primary">
            Save
        </kendo-button>
        <kendo-button name="cancelButton"
                      theme-color="ThemeColor.Secondary">
            Cancel
        </kendo-button>

    </form>
</div>

<script src="~/js/step/addstep.js"></script>
