@model ResetPassword
@{
    ViewData["Title"] = "Reset Password";
}
<link rel="stylesheet" href="~/css/reset-password/style.css" />

<div class="content py-3 reset-password-box">
    <div style="margin-top: 150px;">
        <h2>Reset Your Password</h2>
        <form method="post" id="resetPasswordForm">
            <input asp-for="Email" name="email" hidden />
            <div class="row">
                <div class="password-container col-12 mb-3">
                    <label for="password">Password:</label>
                    <kendo-textbox name="Password"
                                   id="password"
                                   required="required"
                                   type="password"
                                   class="password-input"
                                   data-bind="value: password, valueUpdate: 'afterkeydown', css: { 'has-error': password.hasError }"></kendo-textbox>
                    <div data-bind="visible: password.hasError, text: password.validationMessage" class="validation-message"></div>
                </div>
                <div class="password-container col-12 mb-3">
                    <label for="confirmPassword">Confirm Password:</label>
                    <kendo-textbox name="ConfirmPassword"
                                   id="confirmPassword"
                                   required="required"
                                   type="password"
                                   class="password-input"
                                   data-bind="value: confirmPassword, valueUpdate: 'keyup', css: { 'has-error': confirmPassword.hasError }"></kendo-textbox>
                    <div data-bind="visible: confirmPassword.hasError, text: confirmPassword.validationMessage" class="validation-message"></div>
                </div>
            </div>
            <kendo-button name="submit-btn" class="k-button k-button-solid k-button-solid-base" type="submit">Reset Password</kendo-button>
        </form>
    </div>
</div>
<script src="~/js/reset-password/script.js"></script>