@model EditPhase;

@{
    var serializedData = Json.Serialize(Model);
}
<script type="text/javascript">
    window.initialData = @Html.Raw(serializedData);
    console.log(window.initialData);
</script>
<div>
    <div class="modal" id="edit-phase" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-align-center" id="exampleModalLabel">Phase</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form id="editPhase">
                        <div id="errorBody" class="text-danger"></div>
                        <div class="form-group required row">
                            <label for="phasename" class="col-form-label control-label col-sm-2">Phase</label>
                            <div class="col-sm-10">
                                <kendo-textbox name="phasename"
                                               enable="false"
                                               data-bind="value: phasename">
                                </kendo-textbox>
                            </div>
                        </div>

                        <div class="form-group required row">
                            <label for="ordinal" class="col-form-label control-label col-sm-2">Ordinal</label>
                            <div class="col-sm-10">
                                <kendo-numerictextbox name="ordinal"
                                                      min="1"
                                                      required="required"
                                                      format="n0"
                                                      decimals="0"
                                                      data-bind="value: ordinal, valueUpdate: 'afterkeydown', attr: { 'aria-required': true }">
                                </kendo-numerictextbox>
                                <span class="text-danger" data-bind="visible: ordinal.hasError, text: ordinal.validationMessage"></span>
                            </div>
                        </div>
                        <div class="footer">
                            <div class="d-flex justify-content-start flex-row-reverse">
                                <div class="mx-2">
                                    <kendo-button name="submitBtn"
                                                  data-bind="click: submitForm"
                                                  theme-color="ThemeColor.Primary">
                                        Save
                                    </kendo-button>
                                </div>
                                <div class="mx-2">
                                    <kendo-button name="closeBtn"
                                                  data-bs-dismiss="modal"
                                                  theme-color="ThemeColor.Secondary">
                                        Close
                                    </kendo-button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>