@model ApplicationTypeTemplateModel;

@{
    var serializedData = Json.Serialize(Model);
}

<script type="text/javascript">
    window.initialData = @Html.Raw(serializedData);
</script>
<div>
    <form id="templateForm">
        <div id="errorBody" class="text-danger"></div>
        <div class="form-group">
            <label for="name">Template Name</label>
            <input id="name" name="name" data-bind="kendoMaskedTextBox: { value: name }" />
            <span class="text-danger" data-bind="visible: name.hasError, text: name.validationMessage"> </span>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input id="description" name="description" data-bind="kendoMaskedTextBox: { value: description }" />
        </div>
        <div class="form-group">
            <label for="description">Instruction</label>
            <textarea rows="3" id="description" name="description" data-bind="kendoEditor: { value: instruction }"></textarea>
        </div>
        <kendo-button name="primaryTextButton"
                      data-bind="click: submitForm"
                      theme-color="ThemeColor.Primary">
            Save
        </kendo-button>
    </form>
</div>
<script src="~/js/application-type-template/window/window.js"></script>