@model ApplicationTypeTemplateModel;

@{
    var serializedData = Json.Serialize(Model);
}

<script type="text/javascript">
    window.initialData = @Html.Raw(serializedData);
</script>
<div class="modal" id="templateModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-align-center" id="exampleModalLabel">Add Template</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="templateForm">
                    <div id="errorBody" class="text-danger"></div>
                    <div class="form-group required row">
                        <label for="name" class="col-form-label control-label col-sm-2">Template Name</label>
                        <div class="col-sm-10">
                            <input id="name" name="name" data-bind="kendoMaskedTextBox: { value: name }" />
                            <span class="text-danger" data-bind="visible: name.hasError, text: name.validationMessage"> </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-form-label col-sm-2">Description</label>
                        <div class="col-sm-10">
                            <textarea id="description" name="description" data-bind="kendoMaskedTextBox: { value: description }"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-form-label col-sm-2">Instruction</label>
                        <div class="col-sm-10">
                            <textarea rows="3" id="description" name="description" data-bind="kendoEditor: { value: instruction }"></textarea>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start flex-row-reverse">
                        <div class="mx-2">
                            <kendo-button name="primaryTextButton"
                                          data-bind="click: submitForm"
                                          theme-color="ThemeColor.Primary">
                                Save
                            </kendo-button>
                        </div>
                        <div class="mx-2">
                            <kendo-button name="cancelButton"
                                          data-bs-dismiss="modal"
                                          theme-color="ThemeColor.Secondary">
                                Close
                            </kendo-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>